.tab-pane .tab-header-background {
    -fx-background-color: #273c51;
}

HBox {
    -fx-background-color: #273c51;
}

.text-field {
    -fx-background-color: #808080;
}

.button {
    -fx-background-color: #808080;
}

.tab {
    -fx-background-color: #808080;
}

.list-cell:odd {
    -fx-background-color: #6a9ac8;
}

.list-cell:even {
    -fx-background-color: #7babd9;
}